# Exclude specific files
index11.html
folder-structure.txt

# Exclude entire folder
lib/

# Exclude deploy script
deploy.sh

# Voice temp file
VOICE_.txt

# all .DS_Store files 
.DS_Store
*/.DS_Store

pinegrow.json
.phcode.json
reload.py
.vscode/
_pginfo/
_pgbackup/
